.banner{
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../../../images/banner.jpg');
  background-size: cover;
  .container{
    height: 35rem;
    display: flex;
    align-items: center;
  }
  svg{
    width: 3rem;
    fill: pink;
  }
  h1{
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 3rem;
    color: white;
  }
}