.banner {
  position: relative;
  &__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; // define a dimensão que vai estar(a frente ou atrás do resto do html)
  }
  &__img {
    object-fit: cover; //define como a imagem se comporta ao se esticar
  }
  .container {
    height: 60vh;
    display: flex;
    align-items: center;
  }

  .content {
    position: relative;
    height: 0.5vh;
    text-align: center;
    background-color: white;
  }

  h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 4rem;
    color: rgb(253, 185, 196);
    svg {
      width: 3rem;
      fill: rgb(247, 151, 167);
    }
  }
  .waves {
    position: absolute;
    bottom: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: -5px;
    height: 6rem;
    width: 100%;
    .parallax {
      use {
        animation: move-forever forwards 25s infinite
          cubic-bezier(0.55, 0.5, 0.45, 0.5);
        fill: white;
        &:nth-child(1) {
          animation-delay: -5s;
          animation-duration: 20s;
          opacity: 0.7;
        }
        &:nth-child(2) {
          animation-delay: -3s;
          animation-duration: 10s;
          opacity: 0.5;
        }
        &:nth-child(3) {
          animation-delay: -4s;
          animation-duration: 13s;
          opacity: 0.3;
        }
      }
    }
  }
  @media (max-width: 863px) {
    ::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      background-color: #ffffff00;
    }
    .container {
      height: 140vw;
      max-height: 31.6875rem;
    }
    h1 {
      font-size: 2rem;
      svg {
        width: 2rem;
      }
    }
  }
}
@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
// &:after{ //cria um objeto html que pode ser estilizado, nesse caso vai ser o ultimo objeto da section com classe bannner
//   content:""; //se não definir ele não vai ser criado. Pode ser uma imagem um texto ou nada.
//   background-color: rgba(255, 255, 255, 0); //cor dele é um preto transparente, para escurecer o que estiver atrás
// }
