.image-text {
  padding: 5rem 0;
  .container {
    display: flex;
    align-items: center;
    gap: 5rem;
    justify-content: space-between;
  }
  &__img {
    width: 100%;
    max-width: 27rem;
    background-size: cover !important;
    border-radius: 2rem;
    img {
      width: 100%;
      object-fit: cover;

    }
  }
  &__text {
    max-width: 45rem;
    color:$black;
    h2 {
      font-size: 2.5rem;
      margin-bottom: 2rem;
    }

    p {
      font-size: 1.25rem;
      margin-bottom: 2.5rem;
      line-height: 1.3;
    }

    
  }
  &.sobre{
   
    a {
      display: block;
      width: fit-content;
      background-color: pink;
      padding: 0.8rem 3rem;
      font-size: 1.3rem;
      font-weight: 700;
      border-radius: 6.25rem;
      text-decoration: none;
      color: darken(pink,15);
      border: 2px solid pink;
      transition: 0.3s;
      &:hover {
        background-color: transparent;
        color: darken(pink,15);
        border-color: darken(pink,15);
      }
    }
  }
  &.galeria{
    background-image: url(../../../images/fundo-galeria.webp);
    a {
      display: block;
      width: fit-content;
      background-color: $blue;
      padding: 0.8rem 3rem;
      font-size: 1.3rem;
      font-weight: 700;
      border-radius: 6.25rem;
      text-decoration: none;
      color: darken($blue,15);
      border: 2px solid $blue;
      transition: 0.3s;
      &:hover {
        background-color: transparent;
        color: darken($blue,15);
        border-color: darken($blue,15);
      }
    }
    .image-text{
      &__img{
        background: url("../../../images/fundo-nina.webp");
      }
    }
  }
  &.Adote-uma-Nina{
    background-image: url(../../../images/fundo-sobre.webp);
    a {
      display: block;
      width: fit-content;
      background-color: pink;
      padding: 0.8rem 3rem;
      font-size: 1.3rem;
      font-weight: 700;
      border-radius: 6.25rem;
      text-decoration: none;
      color: darken(pink,15);
      border: 2px solid pink;
      transition: 0.3s;
      &:hover {
        background-color: transparent;
        color: darken(pink,15);
        border-color: darken(pink,15);
      }
    }
    .image-text{
      &__img{
        background: url("../../../images/fundo-nina.webp");
      }
    }
  }
}
