.sobre-historia {
  background-color: $blue;
  display: flex;

  .container {
    display: flex;
    top: 2rem;
    padding: 3rem;
  }

  &__card {
    width: 80rem;
    height: 400px;
    background-color: #fdf2e3;
    border-radius: 15px;
    padding: 1.5rem;
    display: flex;


    img {
      width: 100%;
    }


    &__text {
      width: 100%;

      h2 {
        font-size: 2rem;
        color: rgb(253, 148, 197);
        text-align: center;
      }

      p {
        color: rgb(39, 38, 46);
        font-weight: 500;
      }
    }
  }

}