/* http://meyerweb.com/eric/tools/scss/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
* {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  font-family: Varela Round;
}

.container {
  width: 100%;
  max-width: 85rem;
  margin: auto;
  padding: 0 1rem;
}

.header {
  background-color: pink;
  padding: 0.5rem 0;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;
}
.header + main {
  margin-top: 4.1212rem;
}
.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  width: 100%;
  max-width: 3rem;
  transition: 0.3s;
}
.header__logo:hover {
  transform: scale(1.2);
}
.header__logo img {
  width: 100%;
}
.header__links {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.header__links a {
  color: purple;
  text-decoration: none;
  font-weight: 700;
  transition: 0.3s;
  display: flex;
  align-items: center;
  gap: 0.3rem;
}
.header__links a svg {
  fill: purple;
  width: 1rem;
  transition: 0.3s;
}
.header__links a:hover {
  color: #b300b3;
}
.header__links a:hover svg {
  fill: #b300b3;
}
.header__links__button {
  margin-left: 1rem;
}
.header__links__button a {
  padding: 0.5rem 1rem;
  background-color: #e1e2ef;
  border: 2px solid #e1e2ef;
  border-radius: 1rem;
  color: #7d82ba;
}
.header__links__button a:hover {
  color: #e1e2ef;
  background-color: transparent;
}
.header__mobile-button {
  display: none;
}
@media (max-width: 638px) {
  .header__mobile-button {
    background: none;
    border: none;
    width: 33px;
    height: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: 0.3rem;
  }
  .header__mobile-button span {
    border-radius: 0.5rem;
    width: 100%;
    height: 0.25rem;
    background-color: purple;
    transition: 0.3s;
    position: absolute;
  }
  .header__mobile-button span:first-child {
    position: absolute;
    top: 0;
  }
  .header__mobile-button span:last-child {
    position: absolute;
    bottom: 0;
  }
  .header__mobile-button.active span:nth-child(2) {
    width: 0;
  }
  .header__mobile-button.active span:nth-child(3) {
    transform: rotate(-45deg);
    bottom: 12.5px;
  }
  .header__mobile-button.active span:nth-child(1) {
    top: 9px;
    transform: rotate(45deg);
  }
  .header__links {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: pink;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem 1rem 5rem 1rem;
    height: calc(100vh - 4.1212rem);
    transition: 0.3s;
    transform: translateX(100%);
  }
  .header__links.active {
    transform: translateX(0);
  }
  .header__links__button {
    margin: auto auto 0 auto;
  }
}

.banner-sobre {
  position: relative;
}
.banner-sobre__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.banner-sobre__img {
  -o-object-fit: cover;
     object-fit: cover;
}
.banner-sobre .container {
  height: 80vh;
  display: flex;
  align-items: center;
}
.banner-sobre h1 {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  color: rgb(255, 130, 151);
}
.banner-sobre .content {
  position: relative;
  height: 0.5vh;
  text-align: center;
  background-color: white;
}
.banner-sobre .cloud {
  position: relative;
  height: 200px;
  width: 600px;
  left: 300px;
  background: #fff;
  border-radius: 100px;
}
.banner-sobre .cloud img {
  position: absolute;
  bottom: 35px;
  left: 170px;
}
.banner-sobre .cloud::before {
  content: "";
  position: absolute;
  top: -100px;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background: #fff;
  left: 70px;
  box-shadow: 170px -9px 0 30px #fff;
}
.banner-sobre .snow {
  display: flex;
  position: relative;
  z-index: 1;
  padding: 150px 100px;
}
.banner-sobre .snow span {
  position: relative;
  width: 90px;
  height: 14px;
  background: #fff;
  margin: 1px 3px;
  border-radius: 50%;
  bottom: 1px;
  animation: animate 7s linear infinite;
  animation-duration: calc(35s / var(--i));
}
@keyframes animate {
  0% {
    transform: translateY(0) scale(1);
  }
  60% {
    transform: translateY(316px) scale(1);
  }
  100% {
    transform: translateY(316px) scale(0);
  }
}

.sobre-historia {
  background-color: #e1e2ef;
  display: flex;
}
.sobre-historia .container {
  display: flex;
  top: 2rem;
  padding: 3rem;
}
.sobre-historia__card {
  width: 80rem;
  height: 400px;
  background-color: #fdf2e3;
  border-radius: 15px;
  padding: 1.5rem;
  display: flex;
}
.sobre-historia__card img {
  width: 100%;
}
.sobre-historia__card__text {
  width: 100%;
}
.sobre-historia__card__text h2 {
  font-size: 2rem;
  color: rgb(253, 148, 197);
  text-align: center;
}
.sobre-historia__card__text p {
  color: rgb(39, 38, 46);
  font-weight: 500;
}