.header{
  background-color: pink;
  padding: 0.5rem 0;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  & + main{
    margin-top: 4.1212rem;
  }
  .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__logo{
    width: 100%;
    max-width: 3rem;
    transition: 0.3s;
    &:hover{
      transform: scale(1.2);
    }
    img{
      width: 100%;
    }
  }
  &__links{
    display: flex;
    align-items: center;
    gap: 1rem;
    a{
      color: purple;
      text-decoration: none;
      font-weight: 700;
      transition: 0.3s;
      display: flex;
      align-items: center;
      gap: 0.3rem;
      svg{
        fill: purple;
        width: 1rem;
        transition: 0.3s;
      }
      &:hover{
        color: lighten(purple, 10);
        svg{
          fill: lighten(purple, 10);
        }
      }
    }
    &__button{
      margin-left: 1rem;
      a{
        padding: 0.5rem 1rem;
        background-color: $fundobotao;
        border: 2px solid $fundobotao;
        border-radius: 1rem;
        color:darken($fundobotao,30);
        &:hover{
          color: $fundobotao;
          background-color: transparent;
        }
      }
    }
  }
  &__mobile-button{
    display: none;
  }
  @media(max-width: 638px){
    &__mobile-button{
      background: none;
      border: none;
      width:33px;
      height: 25px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;
      gap: 0.3rem;
      span{
        border-radius: .5rem;
        width: 100%;
        height: 0.25rem;
        background-color: purple;
        transition: 0.3s;
        position: absolute;
        &:first-child{
          position: absolute;
          top:0;
        }
        &:last-child{
          position: absolute;
          bottom:0;
        }
      }
      &.active span{
        &:nth-child(2){
          width: 0;
        }
        &:nth-child(3){
          transform: rotate(-45deg);
          bottom: 12.5px;
        }
        &:nth-child(1){
          top: 9px;
          transform: rotate(45deg);
        }
      }
    }
    &__links{
      position: absolute;
      top: 100%;
      right: 0;
      background-color: pink;
      flex-direction: column;
      align-items: flex-start;
      padding: 1rem 1rem 5rem 1rem;
      height: calc(100vh - 4.1212rem);
      transition: 0.3s;
      transform: translateX(100%);
      &.active{
        transform: translateX(0);
      }
      &__button{
        margin: auto auto 0 auto;
      }
    }
  }
}