.card {
  padding: 5rem;

  &.gato-1 {
    background-image: url(../../../images/fundo-sobre.webp);

    .container {
      display: flex;
      align-items: center;
      gap: 5rem;
      justify-content: space-between;
      background-color: #fff;
      padding: 3rem;
      border-radius: 2rem;
      border: 2px dashed #c9c9f3;

      div {
        flex: 1 1 100%;
      }

      @media (max-width: 814px) {
        flex-direction: column;
        gap: 2rem;
      }
    }

    @media (max-width: 814px) {
      flex-direction: column;
      gap: 2rem;
    }
  }

  &__img {
    max-width: 14rem;
    background-size: cover !important;
    border-radius: 2rem;

    img {
      width: 100%;
      object-fit: cover;
      border-radius: 1rem;
    }
  }
}



&.gato-2 {
  background-image: url(../../../images/fundo-galeria.webp);
  .container {
    display: flex;
    align-items: center;
    gap: 5rem;
    justify-content: space-between;
    background-color: #fff;
    padding: 3rem;
    border-radius: 2rem;
    border: 2px dashed #faaedc;

    div {
      flex: 1 1 100%;
    }

    @media (max-width: 814px) {
      flex-direction: column;
      gap: 2rem;
    }
  }

  @media (max-width: 814px) {
    flex-direction: column;
    gap: 2rem;
  }
}

&__img {
  max-width: 14rem;
  background-size: cover !important;
  border-radius: 2rem;

  img {
    width: 100%;
    object-fit: cover;
    border-radius: 1rem;
  }
}
}

&.gato-3 {
  background-image: url(../../../images/fundo_roxo_.webp);
}

&.gato-4 {
  background-image: url(../../../images/fundo_verde.webp);
}
}